body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav {
    padding: 0 1rem;
}

.brand-logo img {
    width: 46px;
}

.content {
    min-height: calc(100vh - 70px - 64px);
    padding: 1.5rem 0;
}

.goods {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-content {
    flex-grow: 1;
}

.cart {
    position: fixed;
    bottom: 2rem;
    right: 2rem;

    cursor: pointer;
    z-index: 5;
    padding: 1rem;
    border-radius: 3px;
}

.basket-list {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    background-color: #fff;
    width: 50rem;
    max-width: 95%;
    max-height: 80vh;
}

.basket-close {
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 1.2rem;
    color: #fff;
}

.basket-delete-item {
    cursor: pointer;
}

.basket-btn {
    margin: 5px;
    padding: 0 7px;
}

.image-icon {
    width: 40px;
    background-color: #d81b60;
}

#toast-container {
    top: 3rem !important;
    right: 0.5rem !important;
    animation: fade-in 230ms ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(2rem);
    }
    to {
        opacity: 1;
        transform: translateY(0rem);
    }
}

@media (min-width: 767px) {
    .cart {
        top: 14rem;
        bottom: unset;
    }
}